<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row">
        <div class="p-2">
                <span class="navbar-text">
                    Logged user: <span sec:authentication="name">Bob</span>
                </span>
        </div>
        <div class="p-2">
                <span class="navbar-text">
                    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                </span>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <form class="form-inline mr-2 mr-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-dark mr-2 mr-sm-0 text-secondary">Logout</button>
            </form>
        </div>
    </div>
</nav>


<!-- responsive equal width cols, can be sm, md, lg, or xl -->
<div class="container-fluid mr=0">
    <div class="row no-gutters">
        <div class="col-2">
            <div>
                <button type="button" id="toggle" class="btn btn-primary btn-block mt-2 active" autocomplete="of">
                    Admin
                </button>
                <button type="button" id="toggleState" class="btn btn-primary btn-block " autocomplete="of">
                    User
                </button>
            </div>

        </div>
        <div class="col-10 bg-light">
            <div class="container-fluid ml-0">
                <div>
                    <div>
                        <h2>
                            <p class="font-weight mt-2 ml-0">Admin panel</p>
                        </h2>
                    </div>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#userTable"> Users table </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser"> New User </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="userTable">
                            <td class="table-responsive">
                                <br>
                                <caption>
                                    <h4>
                                        <p class="font-weight"> Users list </p>
                                    </h4>
                                </caption>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersAll}">
                                        <th scope="row" th:text="${user.id}">1</th>
                                        <td th:text="${user.name}">Alex</td>
                                        <td th:text="${user.lastName}">Alex</td>
                                        <td th:text="${user.age}">Alex</td>
                                        <td th:text="${user.email}">Alex</td>
                                        <td>
                                            <a th:each="role : ${user.getRoles()}" th:text="${role.getName()+' '}"/>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-info text-white"
                                                    data-toggle="modal"
                                                    data-row="${user}" data-target="#editModal"
                                                    th:attr="data-target='#editModal'+${user.id}">Edit
                                            </button>
                                            <div class="modal fade" th:attr="id='editModal'+${user.id}"
                                                 tabindex="-1"
                                                 role="dialog">
                                                <form th:action="@{/admin/all}" method="post">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ModalLabeled">Edit
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!--                                                                <input type="hidden" id="id" th:field="${user.id}" >-->
                                                                <div class="form-group">
                                                                    <label for="recipient-idEdit"
                                                                           class="col-form-label">ID:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="recipient-idEdit"
                                                                           name="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-nameEdit"
                                                                           class="col-form-label">name:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="recipient-nameEdit"
                                                                           name="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-lastNameEdit"
                                                                           class="col-form-label">lastName:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="recipient-lastNameEdit"
                                                                           name="lastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-ageEdit"
                                                                           class="col-form-label">age:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="recipient-ageEdit"
                                                                           name="age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-emailEdit"
                                                                           class="col-form-label">email:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="recipient-emailEdit"
                                                                           name="email">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger text-white"
                                               th:href="@{/admin/{id}/delete(id=${user.id})}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!---------------------------------------------EDIT-------------------------------------------->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="newUser">
                            <div class="table-responsive">
                                <br>
                                <caption>
                                    <h4>
                                        <p class="font-weight"> Add new user </p>
                                    </h4>
                                </caption>

                                <form th:action="@{/admin/all}" method="post" th:object="${user}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addModalLabel">Add new user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="recipientNameAdd"
                                                           class="col-form-label">name:</label>
                                                    <input type="text" class="form-control" id="recipientNameAdd"
                                                           name="nameAdd">
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipientLastNameAdd"
                                                           class="col-form-label">lastName:</label>
                                                    <input type="text" class="form-control" id="recipientLastNameAdd"
                                                           name="lastNameAdd">
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipientAgeAdd"
                                                           class="col-form-label">age:</label>
                                                    <input type="text" class="form-control" id="recipientAgeAdd"
                                                           name="ageAdd">
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipientEmailAdd"
                                                           class="col-form-label">email:</label>
                                                    <input type="text" class="form-control" id="recipientEmailAdd"
                                                           name="emailAdd">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div th:insert="fragments/modal_edit_user :: editmodal"></div>-->
<!--<div th:insert="fragments/modal_delete_user :: deletemodal"></div>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>