<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<!-- Навигационная панель -->

<nav class="navbar navbar-expand-md navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <span class="navbar-text">
                inline element
            </span>
        </ul>
        <form class="form-inline mr-2 mr-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-dark mr-2 mr-sm-0 text-secondary">Logout</button>
        </form>
    </div>
</nav>

<!-- responsive equal width cols, can be sm, md, lg, or xl -->
<div class="container-fluid mr=0">
    <div class="row no-gutters">
        <div class="col-2">
            <div>
                <button type="button" id="toggle" class="btn btn-primary btn-block mt-2 active" autocomplete="of">
                    Admin
                </button>
                <button type="button" id="toggleState" class="btn btn-primary btn-block " autocomplete="of">
                    User
                </button>
            </div>

        </div>
        <div class="col-10 bg-light">
            <div class="container-fluid ml-0">
                <div>
                    <div>
                        <h2>
                            <p class="font-weight mt-2 ml-0">Admin panel</p>
                        </h2>
                    </div>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#userTable"> Users table </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser"> New User </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="userTable">
                            <div class="table-responsive">
                                <br>
                                <caption>
                                    <h4>
                                        <p class="font-weight"> Users list </p>
                                    </h4>
                                </caption>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersAll}">
                                        <th scope="row" th:text="${user.id}">1</th>
                                        <td th:text="${user.name}">Alex</td>
                                        <td th:text="${user.lastName}">Alex</td>
                                        <td th:number="${user.age}">Alex</td>
                                        <td th:text="${user.email}">Alex</td>
                                        <td th:text="${authentication}">Alex</td>
                                        <td>
                                            <a class="btn btn-info text-white" data-toggle="modal"
                                               data-target="#myModal" th:href="@{/admin/{id}(id=${user.id})}">Edit</a>
                                            <div id="myModal" class="modal fade"th:fragment="view">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3>Edit User</h3>
                                                            <button class="close" data-dismiss="modal">x</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <div class="row py-2">
                                                                    <div class="col-12">
                                                                        <form th:action="@{/admin/all}" method="post"
                                                                              th:object="${user}">

                                                                            <input type="hidden" id="id"
                                                                                   th:text="*{id}">
                                                                            <div class="form-group">
                                                                                <label for="name">First name</label>
                                                                                <input type="text" id="name"
                                                                                       class="form-control"
                                                                                       th:text="*{name}"
                                                                                       placeholder="Enter name">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="name">Last name</label>
                                                                                <input type="text" id="LastName"
                                                                                       class="form-control"
                                                                                       th:text="*{lastName}"
                                                                                       placeholder="Enter Last name">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="name">Age</label>
                                                                                <input type="text" id="age"
                                                                                       class="form-control"
                                                                                       th:text="*{age}"
                                                                                       placeholder="Enter age">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="name">E-mail</label>
                                                                                <input type="text" id="email"
                                                                                       class="form-control"
                                                                                       th:text="*{email}"
                                                                                       placeholder="Enter E-mail">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="name">Password</label>
                                                                                <input type="text" id="password"
                                                                                       class="form-control"
                                                                                       th:text="*{password}"
                                                                                       placeholder="Enter password">
                                                                            </div>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">Submit
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger text-white"
                                               th:href="@{/admin/{id}/delete(id=${user.id})}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="newUser">New User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>