<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="main.js"></script>

    <title>PP 3.1.4 REST</title>
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar navbar-dark bg-dark">
     <span class="navbar-text">
       <span sec:authentication="name">Bob</span>
          with roles: <span th:each="authority : ${#authentication.getAuthorities()}"
                            th:if="${authority.getAuthority().startsWith('ROLE_')}"
                            th:text="${authority.getAuthority().replaceFirst('ROLE_', ' ')}"></span>
    </span>
    <div class="p-2">
        <form class="form-inline mr-2 mr-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-dark mr-2 mr-sm-0 text-secondary">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid pl-0 pr-0 mr-0 ml-0">
    <div class="row no-gutters">
        <div class="col-md-2">
            <ul class="nav nav-pills flex-column">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item pt-2">
                    <a class="nav-link active" data-toggle="pill" href="#menu1">Admin</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link " data-toggle="pill" href="#menu2">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 pl-4 pt-2 mr-0 bg-light background-size=cover">
            <div class="tab-content">
                <div sec:authorize="hasRole('ADMIN')" id="menu1" class="tab-pane fade show active bg-light">
                    <h3>Admin panel</h3>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#userTable"> Users table </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser"> New User </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="userTable">
                            <td class="table-responsive">
                                <br>
                                <caption>
                                    <h4>
                                        <p class="font-weight"> Users list </p>
                                    </h4>
                                </caption>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Name</td>
                                        <td>LastName</td>
                                        <td>Age</td>
                                        <td>E-mail</td>
                                        <td>Roles</td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-info text-white"
                                                    data-toggle="modal"
                                                    data-target="#editModal"
                                                    id="submit">Edit
                                            </button>
                                            <div class="modal fade"
                                                 tabindex="-1"
                                                 role="dialog">
                                                <form>
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="ModalLabeled">Edit
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="recipient-id"
                                                                           class="col-form-label">ID:</label>
                                                                    <input type=text"
                                                                           class="form-control"
                                                                           id="recipient-id"
                                                                           name="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                           class="col-form-label">Name:</label>
                                                                    <input type=text"
                                                                           class="form-control"
                                                                           id="recipient-name"
                                                                           name="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-lastName"
                                                                           class="col-form-label">Lastname:</label>
                                                                    <input type=text"
                                                                           class="form-control"
                                                                           id="recipient-lastName"
                                                                           name="lastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-age"
                                                                           class="col-form-label">Age:</label>
                                                                    <input type=text"
                                                                           class="form-control"
                                                                           id="recipient-age"
                                                                           name="age">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-email"
                                                                           class="col-form-label">E-mail:</label>
                                                                    <input th:type="text"
                                                                           class="form-control"
                                                                           id="recipient-email"
                                                                           name="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-password"
                                                                           class="col-form-label">Password:</label>
                                                                    <input type=password"
                                                                           class="form-control"
                                                                           id="recipient-password"
                                                                           name="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-role"
                                                                           class="col-form-label">Role:</label>
                                                                    <select class="form-control"  id="recipient-role"  name="roles">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-success">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger text-white" id="Delete">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <!---------------------------------------------EDIT-------------------------------------------->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="newUser">
                            <div class="table-responsive">
                                <br>
                                <caption>
                                    <h4>
                                        <p class="font-weight"> Add new user </p>
                                    </h4>
                                </caption>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-4">
                                            <form>
                                                <div class="form-row align-items-center">
                                                    <div class="modal-content border border-light">
                                                        <div class="modal-body bg-light border border-light">
                                                            <div class="form-group bg-light border border-light">
                                                                <label for="recipient-nameN"
                                                                       class="col-form-label">Name:</label>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="recipient-nameN"
                                                                       name="name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-lastNameN"
                                                                       class="col-form-label">Lastname:</label>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="recipient-lastNameN"
                                                                       name="lastName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-ageN"
                                                                       class="col-form-label">Age:</label>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="recipient-ageN"
                                                                       name="age">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-emailN"
                                                                       class="col-form-label">E-mail:</label>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="recipient-emailN"
                                                                       name="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-passwordN"
                                                                       class="col-form-label">Password:</label>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="recipient-passwordN"
                                                                       name="password">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="recipient-roleN"
                                                                       class="col-form-label">Role:</label>
                                                                <select class="form-control" id="recipient-roleN" name="roles">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-success" id="BtnNewUser">Add new user</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade bg-light">
                    <td class="table-responsive">
                        <br>
                        <caption>
                            <h4>
                                <p class="font-weight"> User information-page </p>
                            </h4>
                        </caption>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Age</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Id</th>
                                <td>Name</td>
                                <td>LastName</td>
                                <td>Age</td>
                                <td>E-mail</td>
                                <td>Role</td>
                                <td>
                                    <span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:insert="fragments/modal_edit_user :: editmodal"></div>-->
<!--<div th:insert="fragments/modal_delete_user :: deletemodal"></div>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>